/* sidebar.css */
.sidebar {
    position: fixed;
    left: -150px;
    width: 150px;
    height: 100%;
    background: black;
    transition: all 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.container {
    margin-left: 0;
    transition: all 0.3s ease;
}

.container.sidebar-active {
    margin-left: 100px;
}